.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.option {
  width: 300px;
}

.correct {
  background-color: #4caf50 !important;
  color: white !important;
}
.wrong {
  background-color: #f44336 !important;
  color: white !important;
}
