.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: url("../../assets/17545.jpg");
  background-size: cover;
}
.option {
  width: 18vw;
  border-radius: 25px !important;
}
.question {
  font-size: 1.5vw;
  font-weight: bold;
  width: 50vw;
  text-align: center;
}
.radio-group {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 10px !important;
  width: 50vw !important;
}
.col {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 20vw !important;
}
.correct {
  background-color: #4caf50 !important;
  color: white !important;
}
.wrong {
  background-color: #f44336 !important;
  color: white !important;
}
.username {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.fiftyfifty {
  position: relative;
  top: -30px;
}

.submit {
  font-size: 1.5vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 600px) {
  .container {
    gap: 50px;
  }
  .option {
    width: 80vw;
  }
  .question {
    width: 50vw;
    font-size: 0.7rem;
  }
  .row {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .submit {
    font-size: 1rem !important;
  }
  .radio-group {
    gap: 0px !important;
  }
}
